<aside id="sidebar">
    <section class="widget loft-head">
        <div class="loft-avatar">
            <a href="/article/" title="归档">
                <img loading="eager" src="/images/avatar.jpg" srcset="/images/avatar.jpg, /images/avatar.jpg 1.5x, /images/avatar.jpg 2x" sizes="auto" alt="/images/avatar.jpg" title="/images/avatar.jpg" height="100" width="100">
            </a>
        </div>
        <div class="loft-links">
            <a href="https://github.com/Ralvine" title="GitHub" target="_blank" rel="noopener noreferrer me">
                <i class="fab fa-github-alt fa-fw"></i>
            </a><span class="description">Github</span>
            <a href="https://t.me/Ralvine_offical" title="Telegram" target="_blank" rel="noopener noreferrer me">
                <i class="fab fa-telegram-plane fa-fw"></i>
            </a><span class="description">Telegram</span>
            <br>
            <a href="mailto:ralvine@163.com" title="Email" rel=" me">
                <i class="far fa-envelope fa-fw"></i>
            </a><span class="description">Email</span>
            <a href="/index.xml" title="RSS" target="_blank" rel="noopener noreferrer me"><i class="fas fa-rss fa-fw"></i>
            </a><span class="description">RSS</span>
        </div>
    </section>
    <section class="widget loft-inner">
        <!-- <div class="widget-title"> 置顶</div> -->
        <div class="widget-caption">
            以我观物 故物皆着我之色彩
        </div>
    </section>
    <section class="widget loft-inner">
        <div class="widget-title">🎉 状态</div>
        <div class="widget-caption">
            文章总数 ?<br>
            建站天数 ?<br>
            全站字数 ?
        </div>
    </section>
    <section class="widget loft-inner">
        <div class="widget-title">🚪 传送</div>
        <div class="widget-caption">
                <a href="./about/friend">🤝友链</a>&nbsp;
                <a href="./about/about">📰留言</a><br>
                <a href="./categories/笔记">📔笔记</a>&nbsp;
                <a href="./time/photo">📸光影</a>
    </section>
    <section class="widget loft-inner">
        <div class="widget-title">📮 精选</div>
        <div class="widget-caption">
            
        </div>
    </section>
</aside>