// ==============================
// Custom style
// 自定义样式
// ==============================

@font-face {
  font-family: 'Fangsong';
  src: local('仿宋'), local('FangSong'),local('fangsong'), url('/font/SIMFANG.TTF');
}



/* =Widgets
-------------------------------------------------------------- */

.loft-avatar {
  padding: .5rem;

  img {
    display: block;
    width: 7rem;
    height: auto;
    margin: 130px auto 2rem;
    @include border-radius(100%);
    @include box-shadow(0 0 0 .3618em rgba(255, 255, 255, .05));
    @include transition(all 0.4s ease);

    &:hover {
      position: relative;
      @include transform(translateY(-.75rem));
    }
  }
}

.loft-links {
      padding: 0rem;
      font-size: 1.2rem;
      text-shadow: 0 0 3px red, 0 0 3px green, 0 0 3px blue;
      margin: 0px auto;
      text-align: center;
      color: #ffffff;
      a * {
        vertical-align: text-bottom;
        color: #FFFFFF;
      }
      .description {
        font-size: .9rem;
      }
      img {
        height: 1.5rem;
        padding: 0 .25rem;
      }
    }

.loft-title {
  font-family: "LXGW WenKai Screen";
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin: 3rem auto 3rem;
  text-align: center;
  font-size: 3rem;
}

.widget{
    overflow: hidden;
    margin-left: 0%;
    margin-top: 0rem;
}

.widget-title{
    position: relative;
    margin: 15px;
    text-align: center;
    font-weight:bold;

}

.widget-caption {
    position: relative;
    margin: 15px;
    font-family: "LXGW WenKai Screen";
    line-height: 1.5rem;
    text-align: center;
}

#sidebar{
    width: 300px;
    padding-left: 2%;
}

.loft-head{
    border-radius: 20px;
    background-image: url("https://z1.ax1x.com/2023/10/29/pieoGfe.png");
    background-position: 50% 70%;
    height: 450px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border:1px solid #f9f9f9;
    [theme=dark] & {
        border:1px solid #aaaaaa;
    }
    [theme=black] & {
        border:1px solid #aaaaaa;
    }
    margin-bottom: 20px;
}

.loft-inner{
    position: sticky;
    border-radius: 20px;
    // background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border:1px solid #f9f9f9;
    [theme=dark] & {
        border:1px solid #aaaaaa;
    }
    [theme=black] & {
        border:1px solid #aaaaaa;
    }
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* 子菜单栏 */
.dropdown {
  display: inline-block;
}

/* 子菜单的内容 (默认隐藏) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  line-height: 1.3rem;
  [theme=dark] & {
    background-color: $global-background-color-dark;
  }
  [theme=black] & {
    background-color: $global-background-color-black;
  }
}

/* 子菜单的链接 */
.dropdown-content a {
  padding: 10px 18px 10px 14px;
  text-decoration: none;
  display: block;
  & i {
    margin-right: 3px;
  }
}

/* 鼠标移上去后修改子菜单链接颜色 */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
  [theme=dark] & {
    background-color: $global-background-color-dark;
  }
  [theme=black] & {
    background-color: $global-background-color-black;
  }
}

/* 在鼠标移上去后显示子菜单 */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 680px) {
    .dropdown {
      display: inline;
    }
  .dropdown:hover .dropdown-content {
    display: inline;
    z-index: 1;
    margin-top: -2em;
    margin-left: 3em;
  }
  .dropdown-content a:hover {
    background-color: transparent;
  }
}

// 文件位置：~/assets/scss/custom/_custom.scss

blockquote.quote-center {
    position: relative;
    border-left: none;
    padding-left: 0;
    border-top: 1px solid var(--color-contrast-lower);
    border-bottom: 1px solid var(--color-contrast-lower);
    p{
        text-align: center !important;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        font-family: "LXGW WenKai Screen";
        // font-family: "glyph-correction","Amstelvar", 'Noto Sans SC', 'Songti SC', 'Charter', 'fantasy', 'Noto Serif SC', serif;
    }
    &::before {
        position: absolute;
        left: 0;
        content: '“';
        color: $blockquote-color;
        font-size: 3em;
        font-weight: bold;
        font-family: serif;
        margin-top: 0em;
    }
    &::after {
        position: absolute;
        right: 0;
        content: '”';
        color: $blockquote-color;
        font-size: 3em;
        font-weight: bold;
        margin-top: 0em;
        font-family: serif;
    }
}


// 文件位置：~/assets/scss/custom/_custom.scss

blockquote.quote {
    position: relative;
    margin: 2em auto;
    padding-left: 3em;
    border: none;
    p {
        font-family: "LXGW WenKai Screen";
        // font-family: "glyph-correction","Amstelvar", 'Noto Sans SC', 'Songti SC', 'Charter', 'fantasy', 'Noto Serif SC', serif;
    }
    &::before {
        position: absolute;
        left: 0;
        content: '“';
        color: $blockquote-color;
        font-family: serif;
        font-size: 3em;
        font-weight: bold;
        line-height: 1;
    }
    &.poetry {
        display: table;
        padding: 0;
        &::before {
            left: -1em;
        }
        p:last-child {
            margin: 0;
        }
    }
    &.en {
        p {
            line-height: 1.618;
            text-align: left;
            hyphens: auto;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
        }
    }
}
// @media (max-width: $maxWidth) {
//     blockquote.quote {
//         &.poetry {
//             padding-left: 3em;
//             &::before {
//                 left: 0;
//             }
//         }
//     }
// }


// 文件位置：~/assets/scss/custom/_custom.scss

.simple-notice {
    position:relative;
    padding: 1em 0 1em 2em;
    margin-bottom: 1em;
    transition: all .5s;
    p:last-child {
        margin-bottom: 0;
    }
    .simple-notice-title {
        position: absolute;
        left: 0.8em;
        .simple-notice-icon {
            width: 1em;
            height: 1em;
            margin-left: -0.8em;
        }
    }
    &.simple-notice-warning {
        border-top: 2px solid hsl(0, 100%, 35%);
        color: hsl(0, 100%, 35%);
        .simple-notice-title {
            color: hsl(0, 100%, 35%);
        }
        a {
            color: hsl(0, 100%, 35%);
            text-decoration-color: hsl(0, 100%, 35%);
        }
    }
    &.simple-notice-info {
        border-top: 2px solid hsl(40, 80%, 45%);
        color: hsl(40, 80%, 45%);
        .simple-notice-title {
            color: hsl(40, 80%, 45%);
        }
        a {
            color: hsl(40, 80%, 45%);
            text-decoration-color: hsl(40, 80%, 45%);
        }
    }
    &.simple-notice-note {
        border-top: 2px solid hsl(210, 100%, 25%);
        color: hsl(210, 100%, 25%);
        .simple-notice-title {
            color: hsl(210, 100%, 25%);
        }
        a {
            color: hsl(210, 100%, 25%);
            text-decoration-color: hsl(210, 100%, 25%);
        }
    }
    &.simple-notice-tip {
        border-top: 2px solid hsl(150, 100%, 25%);
        color: hsl(150, 100%, 25%);
        .simple-notice-title {
            color: hsl(150, 100%, 25%);
        }
        a {
            color: hsl(150, 100%, 25%);
            text-decoration-color: hsl(150, 100%, 25%);
        }
    }
}

[data-theme="dark"] .simple-notice {
    &.simple-notice-warning {
        border-top: 2px solid hsl(0, 65%, 65%);
        color: hsl(0, 65%, 65%);
        .simple-notice-title {
            color: hsl(0, 65%, 65%);
        }
        a {
            color: hsl(0, 65%, 65%);
            text-decoration-color: hsl(0, 65%, 65%);
        }
    }
    &.simple-notice-info {
        border-top: 2px solid hsl(30, 80%, 70%);
        color: hsl(30, 80%, 70%);
        .simple-notice-title {
            color: hsl(30, 80%, 70%);
        }
        a {
            color: hsl(30, 80%, 70%);
            text-decoration-color: hsl(30, 80%, 70%);
        }
    }
    &.simple-notice-note {
        border-top: 2px solid hsl(200, 65%, 65%);
        color: hsl(200, 65%, 65%);
        .simple-notice-title {
            color: hsl(200, 65%, 65%);
        }
        a {
            color: hsl(200, 65%, 65%);
            text-decoration-color: hsl(200, 65%, 65%);
        }
    }
    &.simple-notice-tip {
        border-top: 2px solid hsl(140, 65%, 65%);
        color: hsl(140, 65%, 65%);
        .simple-notice-title {
            color: hsl(140, 65%, 65%);
        }
        a {
            color: hsl(140, 65%, 65%);
            text-decoration-color: hsl(140, 65%, 65%);
        }
    }
}


// 文件位置：~/assets/scss/custom/_custom.scss

.notice {
    position:relative;
    padding: 1em 1em 1em 2.5em;
    margin-bottom: 1em;
    border-radius: 4px;
    p:last-child {
        margin-bottom: 0;
    }
    .notice-title {
        position: absolute;
        left: 0.8em;
        .notice-icon {
            width: 1.2em;
            height: 1.2em;
        }
    }
    &.notice-warning {
        background: hsla(0, 65%, 65%, 0.15);
        border-left: 5px solid hsl(0, 65%, 65%);
        .notice-title {
            color: hsl(0, 65%, 65%);
        }
    }
    &.notice-info {
        background: hsla(30, 80%, 70%, 0.15);
        border-left: 5px solid hsl(30, 80%, 70%);
        .notice-title {
            color: hsl(30, 80%, 70%);
        }
    }
    &.notice-note {
        background: hsla(200, 65%, 65%, 0.15);
        border-left: 5px solid hsl(200, 65%, 65%);
        .notice-title {
            color: hsl(200, 65%, 65%);
        }
    }
    &.notice-tip {
        background: hsla(140, 65%, 65%, 0.15);
        border-left: 5px solid hsl(140, 65%, 65%);
        .notice-title {
            color: hsl(140, 65%, 65%);
        }
    }
}

[data-theme="dark"] .notice {
    &.notice-warning {
        background: hsla(0, 25%, 35%, 0.15);
        border-left: 5px solid hsl(0, 25%, 35%);
        .notice-title {
            color: hsl(0, 25%, 35%);
        }
    }
    &.notice-info {
        background: hsla(30, 25%, 35%, 0.15);
        border-left: 5px solid hsl(30, 25%, 35%);
        .notice-title {
            color: hsl(30, 25%, 35%);
        }
    }
    &.notice-note {
        background: hsla(200, 25%, 35%, 0.15);
        border-left: 5px solid hsl(200, 25%, 35%);
        .notice-title {
            color: hsl(200, 25%, 35%);
        }
    }
    &.notice-tip {
        background: hsla(140, 25%, 35%, 0.15);
        border-left: 5px solid hsl(140, 25%, 35%);
        .notice-title {
            color: hsl(140, 25%, 35%);
        }
    }
}


// 文件位置：~/assets/scss/custom/_custom.scss

.github {
    border: 1px solid var(--color-contrast-low);
    border-radius: 20px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #ffffff;
    [theme=dark] & {
      background-color: #292a2d;
    }
    [theme=black] & {
      background-color: #000000;
    }
    .github-icon {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5em;
        margin-bottom: 0.2em;
        fill: var(--color-contrast-high);
        transition: all .5s;
    }
    .name {
        font-weight: bold;
        color: var(--color-primary);
        text-decoration: none;
    }
    .description {
        margin-top: 0.5em;
        margin-bottom: 1em;
        color: var(--color-contrast-high);
        text-align: justify;
        font-size: 90%;
        transition: all .5s;
    }
    .language-color {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 0.75em;
        height: 0.75em;
        border-radius: 50%;
    }
    .language-name {
        color: var(--color-contrast-high);
        font-size: 90%;
        margin-left: 0.5em;
        transition: all .5s;
    }
}
