// ==============================
// Custom style
// 自定义样式
// ==============================

/*动画效果*/
@-webkit-keyframes fadeIn {
    0% {
    opacity: 0; /*初始状态 透明度为0*/
    }
    20%{
        opacity: .2;
    }
    50% {
        opacity: .5; /*中间状态 透明度为0.5*/
    }
    70%{
        opacity: .7;
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}

.tabtag {
/*    padding: 5px;
    border-radius: 20px;
    width: 10%;
    text-align: center;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.1);*/
    display: inline-block;
    position: relative;
    line-height: 1.4em;
    z-index: 0;
    transition: all .25s ease;
    color: inherit;
    padding: 0 3px;
    font-weight: 600;
}

.tabtag:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    z-index: -1;
    transition: all .25s ease;
    background-color: rgba(142, 174, 107, 0.3);
}

.tabtag:hover::after {
    height: 100%;
}

/*.tabtag {
    width: 13%;
    text-align: center;
    border: 1.5px solid rgb(200,220,254);
    color: rgb(100,180,254);
    font-weight: 600;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.tabtag:hover {
    background-color: rgb(145,84,246);
    border: 1.5px solid rgb(145,84,246);
    color: rgb(255,255,255);
}*/

.little-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

.little-box #a {
}
.little-box #b {
    display: none;
    position: absolute;
    text-align: left;
    border-radius: 10px;
    bottom:1.1rem;
    width: 150px;
    background: rgb(255,252,250);
    [theme=dark] & {
        background: rgb(50,50,50);
    }
    [theme=black] & {
        background: rgb(0,0,0);
    }
    border: 1px solid #aaaaaa;
    transition: opacity 0.3s ease;
    padding: 6px;
    z-index: 9999;
}
.little-box #a:hover #b {
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: 0.4s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
    display: block;
}

.little-box-cover {
    margin: 2px;
    height: 60px;
    @media only screen and (max-width: 2560px) {
        flex: 0 0 30%;
    }
    @media only screen and (max-width: 1100px) {
        flex: 0 0 45%;
    }
    display:flex;
    transition: transform 0.3s ease;
    border-radius: 25px;
    background-color: #ffffff;
    [theme=dark] & {
        background: rgb(50,50,50);
    }
    [theme=black] & {
        background: rgb(0,0,0);
    }
    box-shadow: 0px 0px 30px rgba(0,0,0,0.05);
    align-items: center;
}

.little-box-cover .image-description {
    position: relative;
    margin: 0 auto 0;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .9em;
    color: #000000;
    text-align: center;
    line-height: 1.2rem;
    [theme=dark] & {
        color: #bbbbbb;
    }
    [theme=black] & {
        color: #ffffff;
    }
}

.little-box-cover .image-description a {
    color: #000000;
    text-decoration: underline;
    display: inline-block;
    text-decoration-color: rgba(142, 174, 107, 0.3);
    text-decoration-thickness: 3px;
    transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    [theme=dark] & {
        color: #bbbbbb;
    }
    [theme=black] & {
        color: #ffffff;
    }
}

.little-box-cover .image-description a:hover {
    font-weight: 800;
    color: #000000;
    transform: scale(1.1);
    [theme=dark] & {
        color: #bbbbbb;
    }
    [theme=black] & {
        color: #ffffff;
    }
}




.group-picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    margin-top: .5em;
    margin-bottom: .7em;
}

.group-picture-cover {
    margin: 2px;
    @media only screen and (max-width: 2560px) {
        flex: 0 0 45.5%;
    }
    @media only screen and (max-width: 600px) {
        flex: 0 0 100%;
    }
    display:flex;
}

.group-picture-cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    border: 1px solid #666666;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}

.group-picture-cover img:hover {
    opacity:.7;
}

.group3-picture-cover {
    margin: 2px;
    @media only screen and (max-width: 2560px) {
        flex: 0 0 29.8%;
    }
    @media only screen and (max-width: 600px) {
        flex: 0 0 100%;
    }
    display:flex;
    transition: transform 0.3s ease;
}

.group3-picture-cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    border: 1px solid #666666;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}

.group3-picture-cover img:hover {
    opacity:.7;
}

.group1-picture-cover {
    margin: 2px;
    @media only screen and (max-width: 2560px) {
        flex: 0 0 92.5%;
    }
    @media only screen and (max-width: 600px) {
        flex: 0 0 100%;
    }
    display:flex;
    transition: transform 0.3s ease;
}

.group1-picture-cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    border: 1px solid #666666;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}

.group1-picture-cover img:hover {
    opacity:.7;
}

.nav-tab {
    text-shadow: 0px 0px 5px rgba(255,255,255,0.2);
    display: flex;
    border-radius: 25px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: -1.5em;
    margin-bottom: 0em;
    font-family: "Noto Serif SC", serif;
    font-weight: 800;
    line-height: 1;
    .bord {
        color: #aaaaaa;
    }
    .now {
        color: #333333;
        font-size: 1rem;
        font-weight: 800;
        margin: 1em 0;
        [theme=dark] & {
            color: #ffffff;
        }
        [theme=black] & {
            color: #ffffff;
        }
    }
    .not {
        font-size: 1rem;
        color: #bbbbbb;
        transition: transform 0.3s ease, filter 0.3s ease;
        justify-content: center;
        margin: 1em 0;
        padding-top: 0rem;
        filter: blur(1px);
    }
    .not::before {
        background: #aaaaaa;
        content: '';
        position: absolute;
        height: 1px;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
    }
    .not:hover {
        transform: scale(1.3);
        filter: none;
    }
    .not:hover::before {
        transform: scaleX(1);
    }
}

.subpage-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.subpage-box-cover {
    margin: 2px;
    height: 250px;
    @media only screen and (max-width: 2560px) {
        flex: 0 0 30%;
    }
    @media only screen and (max-width: 700px) {
        flex: 0 0 45%;
    }
    display:flex;
}

.subpage-box-cover:hover img {
    opacity:.7;
}

.subpage-box-cover a {
    border-bottom:none;
}

.subpage-box-cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    opacity:1;
    box-shadow: 0 0px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: opacity 0.3s ease;
}


.subpage-box-cover .image-caption {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}

.subpage-box-cover .image-description {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 65%;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}
.subpage-box-cover .image-hyper {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}

.subpage-box-cover-2 {
    margin: 2px;
    height: 250px;
    @media only screen and (max-width: 2560px) {
        flex: 0 0 62%;
    }
    @media only screen and (max-width: 700px) {
        flex: 0 0 93%;
    }
    display:flex;
}

.subpage-box-cover-2:hover img {
    opacity:.7;
}

.subpage-box-cover-2 a {
    border-bottom:none;
    width:100%;
}

.subpage-box-cover-2 img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    opacity:1;
    box-shadow: 0 0px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: opacity 0.3s ease;
}


.subpage-box-cover-2 .image-caption {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}

.subpage-box-cover-2 .image-description {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 65%;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}
.subpage-box-cover-2 .image-hyper {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}

.subpage-box-cover-2-left {
    margin: 2px;
    height: 250px;
    @media only screen and (max-width: 2560px) {
        flex: 0 0 30%;
    }
    @media only screen and (max-width: 700px) {
        flex: 0 0 93%;
    }
    display:flex;
}

.subpage-box-cover-2-left:hover img {
    opacity:.7;
}

.subpage-box-cover-2-left a {
    border-bottom:none;
    width: 100%;
}

.subpage-box-cover-2-left img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    opacity:1;
    box-shadow: 0 0px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: opacity 0.3s ease;
}


.subpage-box-cover-2-left .image-caption {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}

.subpage-box-cover-2-left .image-description {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 65%;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}
.subpage-box-cover-2-left .image-hyper {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}

@media screen and (max-width: 1200px) {
    .media {
        width: 100% !important;
        padding:0 !important
    }
    .media-3 {
        width: 100% !important;
        padding:0 !important
    }
    .media-3-prime {
        width: 100% !important;
        padding:0 !important
    }
    .media-app {
        width: 100% !important;
        padding:0 !important
    }
    .media-app-3 {
        width: 100% !important;
        padding:0 !important
    }
    .media-app-3-prime {
        width: 100% !important;
        padding:0 !important
    }
}

.culture-list:after {
    content: '';
    display: block;
    width: 100%;
    clear:both
}

.media {
    width: 50%;
    height: 150px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}

.media-3 {
    width: 33.3%;
    height: 125px;
    float: left;
    margin: 0em 0px 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    padding-left: 8px;
}

.media-3-prime {
    width: 33.3%;
    height: 125px;
    float: left;
    margin: 0em 0px 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    padding-left: 0px;
}

/*.media-music {
    width: 50%;
    height: 200px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}*/

.media-app {
    width: 50%;
    height: 100px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}

.media-app-3 {
    width: 32.9%;
    height: 100px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    padding-left:8px;
}

.media-app-3-prime {
    width: 32.9%;
    height: 100px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    padding-left:0px;
}

.media:nth-Child(2n) {
    padding-left:8px
}

.media:nth-Child(2n-1) {
    padding-right:8px
}

.media-app:nth-Child(2n) {
    padding-left:8px
}

.media-app:nth-Child(2n-1) {
    padding-right:8px
}

.media-cover {
    width: 100px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
}

.media-cover-music {
    width: 88px;
    height: 88px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
    margin-left: 5px;
    border-radius: 2px;
    box-shadow:0 0px 2px 0 rgba(0, 0, 0, 0.5);
}

.media-cover-round {
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22.5%;
    float:left;
}

.media-meta {
    width: calc(100% - 100px);
    height: 100%;
    float: left;
    position:relative
}

.media-meta-item {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: .8em;
    line-height:1.8em;
}

/*.media-meta-item-music {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: .8em;
    line-height:1.8em;
}*/

.media-meta-item-app {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: .8em;
    line-height:1.8em;
}

.media-meta-item.title {
    font-weight: 700;
    font-size:.85em
}

.media-meta-item.intro {
    text-align: justify;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    line-height: 1.1rem;
    border-top: .1px solid #dddddd;
    padding-top: .2rem;
    -webkit-line-clamp: 4;
    -webkit-box-orient:vertical
}

/*.media-meta-item-music.intro {
    text-align: justify;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    line-height: 1.1rem;
    border-top: .1px solid #dddddd;
    padding-top: .2rem;
    -webkit-line-clamp: 6;
    -webkit-box-orient:vertical
}*/

.media-meta-item-app.intro {
    text-align: justify;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    line-height: 1.1rem;
    border-top: .1px solid #dddddd;
    padding-top: .2rem;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical
}

.media-meta-item .author {
    opacity:.65
}

.media-meta-item .star-score {
    color: #b96c68;
    height: 0;
    display: inline;
    float: right;
    position:relative
}

.media-meta-item .grey-star {
    color:#d3d3d3
}


/* =Widgets
-------------------------------------------------------------- */

.site-state {
    overflow: hidden;
    line-height: 1.4;
    white-space: nowrap;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.site-state-item {
    display: inline-block;
    padding: 0 6px;
    transition: transform 0.3s ease;
    .site-state-item-count {
        display: block;
        text-align: center;
        color: #000000;
        [theme=dark] & {
            color: #a9a9b3;
        }
        [theme=black] & {
            color: #ffffff;
        }
        font-weight: bold;
        font-size: 15px;
        position: relative;
    }
    .site-state-item-count::before {
        background: #888888;
        content: '';
        position: absolute;
        height: 1px;
        left: 0px;
        top: 23px;
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
    }
    .site-state-item-name {
        font-size: 14px;
        color: #000000;
        [theme=dark] & {
            color: #a9a9b3;
        }
        [theme=black] & {
            color: #ffffff;
        }
    }
}
.site-state-item:hover {
    transform: scale(1.1);
    .site-state-item-count::before {
        transform: scaleX(1);
    }
}

.loft-avatar {
  padding: .5rem;
  position: sticky;
  top: 0px;

  img {
    display: block;
    width: 7rem;
    height: auto;
    margin: 80px auto 5rem;
    @include border-radius(100%);
    @include box-shadow(0 0 0 .3618em rgba(255, 255, 255, .05));
    @include transition(all 0.4s ease);

    &:hover {
      position: relative;
      @include transform(translateY(-.75rem));
    }
  }
}

.loft-avatar-2 {
  padding: .5rem;

  img {
    display: block;
    width: 7rem;
    height: auto;
    margin: 70px auto 0rem;
    @include border-radius(100%);
    @include box-shadow(0 0 0 .3618em rgba(255, 255, 255, .05));
    @include transition(all 0.4s ease);

    &:hover {
      position: relative;
      @include transform(translateY(-.75rem));
    }
  }
}

.loft-links {
    
    position: sticky;
    top: -10px;
    padding: 0rem;
    font-size: 1.2rem;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin: 80px auto;
    text-align: center;
    color: #ffffff;
    a * {
        vertical-align: text-bottom;
        color: #ffffff;
    }
    .description {
        font-size: .9rem;
    }
    img {
        height: 1.5rem;
        padding: 0 .25rem;
    }
}

.loft-links-2 {
    
    position: sticky;
    top: 0px;
    padding: 0rem;
    font-size: 1.2rem;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin: 0px auto;
    text-align: center;
    color: #ffffff;
    [theme=dark] & {
        color: #a9a9b3;
    }
    [theme=black] & {
        color: #ffffff;
    }
    a * {
    vertical-align: text-bottom;
    color: #FFFFFF;
    [theme=dark] & {
        color: #a9a9b3;
    }
    [theme=black] & {
        color: #ffffff;
    }
    }
    .description {
        font-size: .9rem;
    }
    img {
        height: 1.5rem;
        padding: 0 .25rem;
    }
}

.loft-title {
    font-family: $head-font-family;
    display: block;
    position: flex;
    font-size: 3rem;

}

.widget-title{
    position: relative;
    margin: 15px;
    text-align: center;
    font-weight:bold;
}

.widget-caption {
    position: relative;
    margin: 15px;
    font-family: $sans-font-family;
    // line-height: 1.5rem;
    text-align: center;
    font-size: 14px;
}

#sidebar{
    width: 290px;
    padding-left: 2%;
    margin-top: 0px;
    .loft-box {
        width: inherit;
        position: sticky;
        top: -100px;
    }
}

#sidebar-2{
    width: 290px;
    padding-left: 2%;
    margin-top: 0px;
    .loft-box-2 {
        width: inherit;
        position: sticky;
        top: 0px;
    }
}

.loft-head{
    border-radius: 20px;
    // background-image: url("https://z1.ax1x.com/2023/10/29/pieoGfe.png");
    background-image: url("https://pic.imgdb.cn/item/655c93c3c458853aefc44a0f.jpg");
    background-size: auto 100%;
    background-position: 50% 70%;
    height: 450px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    border:1px solid #f9f9f9;
    [theme=dark] & {
        border:1px solid #aaaaaa;
    }
    [theme=black] & {
        border:1px solid #aaaaaa;
    }
    margin-bottom: 10px;
}

.loft-head-2{
    border-radius: 20px;
    background-image: url("https://z1.ax1x.com/2023/10/29/pieoGfe.png");
    background-position: 50% 70%;
    height: 280px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    border:1px solid #f9f9f9;
    [theme=dark] & {
        border:1px solid #aaaaaa;
    }
    [theme=black] & {
        border:1px solid #aaaaaa;
    }
    margin-bottom: 10px;
}


.loft-inner{
    border-radius: 20px;
    // background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border:1px solid #f9f9f9;
    [theme=dark] & {
        border:1px solid #aaaaaa;
    }
    [theme=black] & {
        border:1px solid #aaaaaa;
    }
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

.loft-inner-2{
    border-radius: 20px;
    // background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border:1px solid #f9f9f9;
    [theme=dark] & {
        border:1px solid #aaaaaa;
    }
    [theme=black] & {
        border:1px solid #aaaaaa;
    }
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

/* 子菜单栏 */
.dropdown {
  display: inline-block;
}

/* 子菜单的内容 (默认隐藏) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  line-height: 1.3rem;
  [theme=dark] & {
    background-color: $global-background-color-dark;
  }
  [theme=black] & {
    background-color: $global-background-color-black;
  }
}

/* 子菜单的链接 */
.dropdown-content a {
  padding: 10px 18px 10px 14px;
  text-decoration: none;
  display: block;
  & i {
    margin-right: 3px;
  }
}

/* 鼠标移上去后修改子菜单链接颜色 */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
  [theme=dark] & {
    background-color: $global-background-color-dark;
  }
  [theme=black] & {
    background-color: $global-background-color-black;
  }
}

/* 在鼠标移上去后显示子菜单 */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 680px) {
    .dropdown {
      display: inline;
    }
  .dropdown:hover .dropdown-content {
    display: inline;
    z-index: 1;
    margin-top: -2em;
    margin-left: 3em;
  }
  .dropdown-content a:hover {
    background-color: transparent;
  }
}

// 文件位置：~/assets/scss/custom/_custom.scss

blockquote.quote-center {
    position: relative;
    border-left: none;
    padding-left: 0;
    border-top: 1px solid var(--color-contrast-lower);
    border-bottom: 1px solid var(--color-contrast-lower);
    p{
        text-align: center !important;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        font-family: $lxgw-font-family;
    }
    &::before {
        position: absolute;
        left: -10px;
        content: '“';
        color: $blockquote-color;
        font-size: 3em;
        font-weight: bold;
        font-family: $lxgw-font-family;
        margin-top: -20px;
    }
    &::after {
        position: absolute;
        right: 10px;
        content: '”';
        color: $blockquote-color;
        font-size: 3em;
        font-weight: bold;
        margin-top: -55px;
        font-family: $lxgw-font-family;
    }
}


// 文件位置：~/assets/scss/custom/_custom.scss

blockquote.quote {
    position: relative;
    margin: 2em auto;
    padding-left: 3em;
    border: none;
    p {
        font-family: $lxgw-font-family;
    }
    &::before {
        position: absolute;
        left: -10px;
        content: '“';
        color: $blockquote-color;
        font-family: $lxgw-font-family;
        font-size: 3em;
        font-weight: bold;
        line-height: 1;
    }
    &.poetry {
        display: table;
        padding: 0;
        &::before {
            left: -1em;
        }
        p:last-child {
            margin: 0;
        }
    }
    &.en {
        p {
            line-height: 1.618;
            text-align: left;
            hyphens: auto;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
        }
    }
}
// @media (max-width: $maxWidth) {
//     blockquote.quote {
//         &.poetry {
//             padding-left: 3em;
//             &::before {
//                 left: 0;
//             }
//         }
//     }
// }


// 文件位置：~/assets/scss/custom/_custom.scss

.simple-notice {
    position:relative;
    padding: 1em 0 1em 2em;
    margin-bottom: 1em;
    transition: all .5s;
    p:last-child {
        margin-bottom: 0;
    }
    .simple-notice-title {
        position: absolute;
        left: 0.8em;
        .simple-notice-icon {
            width: 1em;
            height: 1em;
            margin-left: -0.8em;
        }
    }
    &.simple-notice-warning {
        border-top: 2px solid hsl(0, 100%, 35%);
        color: hsl(0, 100%, 35%);
        .simple-notice-title {
            color: hsl(0, 100%, 35%);
        }
        a {
            color: hsl(0, 100%, 35%);
            text-decoration-color: hsl(0, 100%, 35%);
        }
    }
    &.simple-notice-info {
        border-top: 2px solid hsl(40, 80%, 45%);
        color: hsl(40, 80%, 45%);
        .simple-notice-title {
            color: hsl(40, 80%, 45%);
        }
        a {
            color: hsl(40, 80%, 45%);
            text-decoration-color: hsl(40, 80%, 45%);
        }
    }
    &.simple-notice-note {
        border-top: 2px solid hsl(210, 100%, 25%);
        color: hsl(210, 100%, 25%);
        .simple-notice-title {
            color: hsl(210, 100%, 25%);
        }
        a {
            color: hsl(210, 100%, 25%);
            text-decoration-color: hsl(210, 100%, 25%);
        }
    }
    &.simple-notice-tip {
        border-top: 2px solid hsl(150, 100%, 25%);
        color: hsl(150, 100%, 25%);
        .simple-notice-title {
            color: hsl(150, 100%, 25%);
        }
        a {
            color: hsl(150, 100%, 25%);
            text-decoration-color: hsl(150, 100%, 25%);
        }
    }
}

[data-theme="dark"] .simple-notice {
    &.simple-notice-warning {
        border-top: 2px solid hsl(0, 65%, 65%);
        color: hsl(0, 65%, 65%);
        .simple-notice-title {
            color: hsl(0, 65%, 65%);
        }
        a {
            color: hsl(0, 65%, 65%);
            text-decoration-color: hsl(0, 65%, 65%);
        }
    }
    &.simple-notice-info {
        border-top: 2px solid hsl(30, 80%, 70%);
        color: hsl(30, 80%, 70%);
        .simple-notice-title {
            color: hsl(30, 80%, 70%);
        }
        a {
            color: hsl(30, 80%, 70%);
            text-decoration-color: hsl(30, 80%, 70%);
        }
    }
    &.simple-notice-note {
        border-top: 2px solid hsl(200, 65%, 65%);
        color: hsl(200, 65%, 65%);
        .simple-notice-title {
            color: hsl(200, 65%, 65%);
        }
        a {
            color: hsl(200, 65%, 65%);
            text-decoration-color: hsl(200, 65%, 65%);
        }
    }
    &.simple-notice-tip {
        border-top: 2px solid hsl(140, 65%, 65%);
        color: hsl(140, 65%, 65%);
        .simple-notice-title {
            color: hsl(140, 65%, 65%);
        }
        a {
            color: hsl(140, 65%, 65%);
            text-decoration-color: hsl(140, 65%, 65%);
        }
    }
}


// 文件位置：~/assets/scss/custom/_custom.scss

.notice {
    position:relative;
    padding: 1em 1em 1em 2.5em;
    margin-bottom: 1em;
    border-radius: 4px;
    p:last-child {
        margin-bottom: 0;
    }
    .notice-title {
        position: absolute;
        left: 0.8em;
        .notice-icon {
            width: 1.2em;
            height: 1.2em;
        }
    }
    &.notice-warning {
        background: hsla(0, 65%, 65%, 0.15);
        border-left: 5px solid hsl(0, 65%, 65%);
        .notice-title {
            color: hsl(0, 65%, 65%);
        }
    }
    &.notice-info {
        background: hsla(30, 80%, 70%, 0.15);
        border-left: 5px solid hsl(30, 80%, 70%);
        .notice-title {
            color: hsl(30, 80%, 70%);
        }
    }
    &.notice-note {
        background: hsla(200, 65%, 65%, 0.15);
        border-left: 5px solid hsl(200, 65%, 65%);
        .notice-title {
            color: hsl(200, 65%, 65%);
        }
    }
    &.notice-tip {
        background: hsla(140, 65%, 65%, 0.15);
        border-left: 5px solid hsl(140, 65%, 65%);
        .notice-title {
            color: hsl(140, 65%, 65%);
        }
    }
}

[data-theme="dark"] .notice {
    &.notice-warning {
        background: hsla(0, 25%, 35%, 0.15);
        border-left: 5px solid hsl(0, 25%, 35%);
        .notice-title {
            color: hsl(0, 25%, 35%);
        }
    }
    &.notice-info {
        background: hsla(30, 25%, 35%, 0.15);
        border-left: 5px solid hsl(30, 25%, 35%);
        .notice-title {
            color: hsl(30, 25%, 35%);
        }
    }
    &.notice-note {
        background: hsla(200, 25%, 35%, 0.15);
        border-left: 5px solid hsl(200, 25%, 35%);
        .notice-title {
            color: hsl(200, 25%, 35%);
        }
    }
    &.notice-tip {
        background: hsla(140, 25%, 35%, 0.15);
        border-left: 5px solid hsl(140, 25%, 35%);
        .notice-title {
            color: hsl(140, 25%, 35%);
        }
    }
}


// 文件位置：~/assets/scss/custom/_custom.scss

.github {
    border: 1px solid var(--color-contrast-low);
    border-radius: 20px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #ffffff;
    [theme=dark] & {
      background-color: #292a2d;
    }
    [theme=black] & {
      background-color: #000000;
    }
    .github-icon {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5em;
        margin-bottom: 0.2em;
        fill: var(--color-contrast-high);
        transition: all .5s;
    }
    .name {
        font-weight: bold;
        color: var(--color-primary);
        text-decoration: none;
    }
    .description {
        margin-top: 0.5em;
        margin-bottom: 1em;
        color: var(--color-contrast-high);
        text-align: justify;
        font-size: 90%;
        transition: all .5s;
    }
    .language-color {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 0.75em;
        height: 0.75em;
        border-radius: 50%;
    }
    .language-name {
        color: var(--color-contrast-high);
        font-size: 90%;
        margin-left: 0.5em;
        transition: all .5s;
    }
}
