.group-picture {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    margin-top: .5em;
    margin-bottom: .5em;
}

.group-picture-cover {
    margin: 2px;
    @media only screen and (max-width: 1800px) {
        flex: 0 0 45.5%;
    }
    @media only screen and (max-width: 600px) {
        flex: 0 0 100%;
    }
    display:flex;
    transition: transform 0.3s ease;
}

.group-picture-cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    border: 1px solid #666666;
    border-radius: 8px;
    transition:all .6s;
}

.group-picture-cover img:hover {
    opacity:.7;
}

.group3-picture-cover {
    margin: 2px;
    @media only screen and (max-width: 1800px) {
        flex: 0 0 29.8%;
    }
    @media only screen and (max-width: 600px) {
        flex: 0 0 100%;
    }
    display:flex;
    transition: transform 0.3s ease;
}

.group3-picture-cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    border: 1px solid #666666;
    border-radius: 8px;
    transition:all .6s;
}

.group3-picture-cover img:hover {
    opacity:.7;
}

.group1-picture-cover {
    margin: 2px;
    @media only screen and (max-width: 1800px) {
        flex: 0 0 92.5%;
    }
    @media only screen and (max-width: 600px) {
        flex: 0 0 100%;
    }
    display:flex;
    transition: transform 0.3s ease;
}

.group1-picture-cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    border: 1px solid #666666;
    border-radius: 8px;
    transition:all .6s;
}

.group1-picture-cover img:hover {
    opacity:.7;
}

.group1-picture-cover:hover img {
    // transform:scale(1.3);
    width: 102%;
    height: 102%;
}

.group-picture-cover:hover img {
    // transform:scale(1.3);
    width: 102%;
    height: 102%;
}

.group3-picture-cover:hover img {
    // transform:scale(1.3);
    width: 102%;
    height: 102%;
}




/*.nav-button {
    // font-family: "glyph-correction","Amstelvar", 'Noto Sans SC', 'Songti SC', 'Charter', 'fantasy', 'Noto Serif SC', serif;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.2);
    display: flex;
    display: flex;
    border-radius: 25px;
    // box-shadow: 0 0px 30px rgba(0,0,0,0.08);
    // backdrop-filter: blur(2px);
    // -webkit-backdrop-filter: blur(2px);
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 0em;
    margin-bottom: 0em;
    .bord {
        color: #aaaaaa;
    }
    [theme=dark] & {
        box-shadow: 0 0px 30px rgba(255,255,255,0.03);
    }
    .not {
        font-size: .9rem;
        color: #bbbbbb;
        transition: transform 0.3s ease;
        justify-content: center;
        margin: 0;
        padding-top: 0rem;
    }
    .not::before {
        // transform: scaleX(1);
        // border-top: 1px solid #333333;
        background: #aaaaaa;
        content: '';
        position: absolute;
        height: 1px;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
    }
    .not:hover {
        transform: scale(1.3);
    }
    .not:hover::before {
        transform: scaleX(1);
    }
}*/

.nav-tab {
    // font-family: "glyph-correction","Amstelvar", 'Noto Sans SC', 'Songti SC', 'Charter', 'fantasy', 'Noto Serif SC', serif;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.2);
    display: flex;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 0px 30px rgba(0,0,0,0.08);
    // backdrop-filter: blur(2px);
    // -webkit-backdrop-filter: blur(2px);
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    .bord {
        color: #aaaaaa;
    }
    [theme=dark] & {
        box-shadow: 0 0px 30px rgba(255,255,255,0.03);
    }
    .now {
        color: #333333;
        font-size: 1.3rem;
        font-weight: 700;
        // border-bottom: 1px solid #333333;
        // transition: transform 0.3s ease;
        margin: 0;
        [theme=dark] & {
            color: #ffffff;
        }
        [theme=black] & {
            color: #ffffff;
        }
    }
    .not {
        font-size: 1rem;
        color: #bbbbbb;
        transition: transform 0.3s ease;
        justify-content: center;
        margin: 0;
        padding-top: 0rem;
    }
    .not::before {
        // transform: scaleX(1);
        // border-top: 1px solid #333333;
        background: #aaaaaa;
        content: '';
        position: absolute;
        height: 1px;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
    }
    .not:hover {
        transform: scale(1.3);
    }
    .not:hover::before {
        transform: scaleX(1);
    }
}

.subpage-box {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

.subpage-box-cover {
    margin: 2px;
    @media only screen and (max-width: 1800px) {
        flex: 0 0 30%;
    }
    @media only screen and (max-width: 530px) {
        flex: 0 0 45%;
    }
    display:flex;
    transition: transform 0.3s ease;
}

.subpage-box-cover:hover {
    transform: scale(1.05);
}


.subpage-box-cover a {
    border-bottom:none
}

.subpage-box-cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    opacity:1;
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    // transition:all .6s;
}

.subpage-box-cover img:hover {
    opacity:.7;
}


.subpage-box-cover .image-caption {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.subpage-box-cover .image-description {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 65%;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}
.subpage-box-cover .image-hyper {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}

@media screen and (max-width: 840px) {
    .media {
        width: 100% !important;
        padding:0 !important
    }
    .media-3 {
        width: 100% !important;
        padding:0 !important
    }
    .media-3-prime {
        width: 100% !important;
        padding:0 !important
    }
    .media-app {
        width: 100% !important;
        padding:0 !important
    }
    .media-app-3 {
        width: 100% !important;
        padding:0 !important
    }
    .media-app-3-prime {
        width: 100% !important;
        padding:0 !important
    }
}

.culture-list:after {
    content: '';
    display: block;
    width: 100%;
    clear:both
}

.media {
    width: 50%;
    height: 150px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}

.media-3 {
    width: 33.3%;
    height: 125px;
    float: left;
    margin: 0em 0px 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    padding-left: 8px;
}

.media-3-prime {
    width: 33.3%;
    height: 125px;
    float: left;
    margin: 0em 0px 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    padding-left: 0px;
}

/*.media-music {
    width: 50%;
    height: 200px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}*/

.media-app {
    width: 50%;
    height: 100px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}

.media-app-3 {
    width: 32.9%;
    height: 100px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    padding-left:8px;
}

.media-app-3-prime {
    width: 32.9%;
    height: 100px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow:hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    padding-left:0px;
}

.media:nth-Child(2n) {
    padding-left:8px
}

.media:nth-Child(2n-1) {
    padding-right:8px
}

.media-app:nth-Child(2n) {
    padding-left:8px
}

.media-app:nth-Child(2n-1) {
    padding-right:8px
}

.media-cover {
    width: 100px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
}

.media-cover-music {
    width: 88px;
    height: 88px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
    margin-left: 5px;
    border-radius: 2px;
    box-shadow:0 0px 2px 0 rgba(0, 0, 0, 0.5);
}

.media-cover-round {
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22.5%;
    float:left;
    /*padding-left:1px;
    padding-right:1px;
    padding-top:1px;
    padding-bottom:1px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 1);*/
    // border-style: solid;
    // border-width: .5px;
    // border-color: #cccccc;
}

.media-meta {
    width: calc(100% - 100px);
    height: 100%;
    float: left;
    position:relative
}

.media-meta-item {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: .8em;
    line-height:1.8em;
}

/*.media-meta-item-music {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: .8em;
    line-height:1.8em;
}*/

.media-meta-item-app {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: .8em;
    line-height:1.8em;
}

.media-meta-item.title {
    font-weight: 700;
    font-size:.85em
}

.media-meta-item.intro {
    text-align: justify;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    line-height: 1.1rem;
    border-top: .1px solid #dddddd;
    padding-top: .2rem;
    -webkit-line-clamp: 4;
    -webkit-box-orient:vertical
}

/*.media-meta-item-music.intro {
    text-align: justify;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    line-height: 1.1rem;
    border-top: .1px solid #dddddd;
    padding-top: .2rem;
    -webkit-line-clamp: 6;
    -webkit-box-orient:vertical
}*/

.media-meta-item-app.intro {
    text-align: justify;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    line-height: 1.1rem;
    border-top: .1px solid #dddddd;
    padding-top: .2rem;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical
}

.media-meta-item .author {
    opacity:.65
}

.media-meta-item .star-score {
    color: #b96c68;
    height: 0;
    display: inline;
    float: right;
    position:relative
}

.media-meta-item .grey-star {
    color:#d3d3d3
}