.tag-cloud-tags {
  margin: 2rem 0;
  padding: 1rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0px 0px 30px rgba(0,0,0,0.05);
  border-radius: 20px;
  @include link(true, true);

  a {
    display: inline-block;
    position: relative;
    margin: 5px 10px;
    @include overflow-wrap(break-word);
    @include transition(all ease-out 0.3s);

    &:active,
    &:focus,
    &:hover {
      @include transform(scale(1.2));
    }

    sup {
      color: $global-font-secondary-color;

      [theme=dark] & {
        color: $global-font-secondary-color-dark;
      }
      [theme=black] & {
        color: $global-font-secondary-color-black;
      }
    }
  }
}