.related-container {
    --related-background-color: rgb(253,250,243);
    --related-background-color-dark: #252627;
    --related-background-color-black: #111111;
    --related-color: #2d96bd;
    --related-color-dark: #a9a9b3;
    --related-color-black: #d9d9d9;
    --related-hover-color: #ef3982;
    --related-hover-color-dark: #ffffff;
    --related-hover-color-black: #ffffff;
    display: flex;
    flex-wrap: nowrap;

    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    width: 100%;
    height: 220px;
    padding-left: 0;
    border-top: 1px solid rgb(221,221,221);
    // border-bottom: 1px solid rgb(221,221,221);

    .related-text {
        margin-top: 10px;
        position: absolute;
        font-family: "glyph-correction","Amstelvar", 'Noto Sans SC', 'Songti SC', 'Charter', 'fantasy', 'Noto Serif SC', serif;
        margin-bottom: 10px;
        font-weight: 800;
    }

    .related-text::before {
        content: "| ";
    }

    .related-item-container {
        top: 40px;
        flex-basis: 350px;
        flex-grow: 1;
        flex-shrink: 1;
        height: 160px;
        min-width: 220px;
        margin-right: 15px;
        background: var(--related-background-color);
        position: relative;
        [theme="dark"] & {
            background: var(--related-background-color-dark);
        }
        [theme="black"] & {
            background: var(--related-background-color-black);
        }
        border-radius: 10px;
        box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);

    }
    
    .related-image {
        @include transition(transform 0.4s ease);
        img {
            width: 100%;
            height: 120px;
            object-fit: cover;
        }
        &:hover {
            @include transform(scale(1.01));
        }
    }
    
    .related-title {
        position: absolute;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        top: 120px;
        width: 90%;
        margin: 10px;
        font-size: 0.9rem;
        line-height: 110%;
        // font-family: "LXGW WenKai Screen";
        font-family: "STFangsong", "FangSong", "STSong", serif;
        font-weight: 200;
    }
    
    .related-title a {
        color: black;
        &:hover {
            color: var(--related-hover-color);
        }
        [theme="dark"] & {
            color: var(--related-color-dark);
            &:hover {
                color: var(--related-hover-color-dark);
            }
        }
        [theme="black"] & {
            color: var(--related-color-black);
            &:hover {
                color: var(--related-hover-color-black);
            }
        }
    }
}

.related-container::-webkit-scrollbar {
    display: none;
}
