$showcase-background-color: #ffffff;
$showcase-background-color-dark: #252627;
$showcase-background-color-black: #111111;

$showcase-color: #2d96bd;
$showcase-color-dark: #a9a9b3;
$showcase-color-black: #d9d9d9;

$showcase-hover-color: #ef3982;
$showcase-hover-color-dark: #ffffff;
$showcase-hover-color-black: #ffffff;

.showcase-box {
    height: 250px;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 25px;
    margin-left: 1%;
    display: inline-block !important;
    // background: $showcase-background-color;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    position: relative;
}

.column-1 {
    width: 100%;
}
.column-2 {
    width: 48.2%;
}
.column-3 {
    width: 32%;
}

.showcase-image {
    @include transition(transform 0.4s ease);

    img {
        width: 96%;
        margin: 2% 2% 0% 2%;
        height: 140px;
        max-width: none;
        object-fit: cover;
        border-radius: 20px;
    }

    &:hover {
        @include transform(scale(1.01));
    }
}

.showcase-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 145px;
    width: 96%;
    margin: 3% 3% 3% 2%;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.25rem;
    line-height: 140%;
}

.showcase-title a {
    color: black;
    &:hover {
        color: $showcase-hover-color;
    }
    [theme="dark"] & {
        color: $showcase-color-dark;
        &:hover {
            color: $showcase-hover-color-dark;
        }
    }
    [theme="black"] & {
        color: $showcase-color-black;
        &:hover {
            color: $showcase-hover-color-black;
        }
    }
}

.showcase-summary {
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8rem;
    margin: 2%;
    top: 185px;
    line-height: 130%;
    height: 50px;
    width: 93%;
    margin-left: 15px;
    margin-right: 15px;
}

.showcase-link {
    font-size: 0.7rem;
    position: absolute;
    bottom: 67px;
    right: 13px;
}

.showcase-link-extra {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

@media screen and (max-width: 800px) {
    .showcase-box {
        width: 100% !important;
        margin: 1% 0% 0% 0%;
    }
}
