.archive {
  .single-title {
    text-align: center;
    font-family: "Noto Serif SC", serif;
    font-weight: 800;
  }

  .group-title {
      width: 10%;
      position: relative;
      text-align: center;
      margin: 1.5rem auto 1rem;
      line-height: 1.4em;
      z-index: 0;
      transition: all .25s ease;
      color: inherit;
      padding: 0 3px;
  }

  .group-title:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40%;
      z-index: -1;
      transition: all .25s ease;
      background-color: rgba(142, 174, 107, 0.3);
  }

  .group-title:hover::after {
      height: 100%;
  }

  .author-link-icon {
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }
  @import "../_partial/_archive/terms";
  @import "../_partial/_archive/tags";
}
