.special {
  .single-title, .single-subtitle {
    text-align: center;
    font-family: "Monda", "Noto Serif SC", serif;
    font-weight: 800;
    font-size: 35px;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 50px;
  }
}
